<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编译</title>
    <script src="../../dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p>编译过程</p>
        <p v-if="foo">{{foo}}</p>
        <p v-for="s in arr" :key="s">{{s}}</p>
    </div>
    <script>
        const app = new Vue({
            el:'#app',
            data:{foo:true,arr:['a','b']}
        })
        console.log(app.$options.render);
    </script>
</body>
</html>